{% include 'master_header.html' %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
        text-align: left;
    }
</style>
<div class="content">
    <h2>Attendance Tracker</h2>
    <!-- Page content goes here -->
     <table>
        <tr>
            <th>Name</th>
            <th>Absences Count</th>
        </tr>
        {% for dj in data %}
        <tr>
            <td>{{ dj.djName }}</td>
            <td>{{ dj.absenceCount }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
