{% include 'master_header.html' %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
        text-align: left;
    }
    .flexButtons {
        display: flex;
        gap:20px;
        margin-bottom: 20px;
    }
</style>
<div class="content">
    <h2>DJ Record</h2>
    <div class="flexButtons">
        <form method="get" style="margin-bottom: 20px;">
            {{ form.search.label_tag }} {{ form.search }}
            <button type="submit">Search</button>
        </form>
        <div>
            <button>List DJs hosting outside business hours</button>
        </div>
    </div>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date Joined</th>
            <th>Shows</th>
        </tr>
        {% for dj in data %}
        <tr>
            <td>{{ dj.firstName }}</td>
            <td>{{ dj.lastName }}</td>
            <td>{{ dj.email }}</td>
            <td>{{ dj.joinDate }}</td>
            <td></td> <!-- figure out list of shows for each dj -->
        </tr>
        {% endfor %}
    </table>
</div>
