
<!DOCTYPE html>
<html>
{% block content %}
{% block extra_css %}
<head>
    <title>WEGL 91.1 FM - Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/home.css' %}">
</head>

<body style="font-family: 'Noto Sans', sans-serif;">
    <div id="WEGLheader" class="flexCenter">
        <h1>Welcome to the WEGL Administrative Platform!</h1>
        <hr id="customLine">
        <div id="logoutDiv">
            <a id="adminLogin" href="/admin/login/">Admin Login</a>
        </div>
    </div>


    <div id="buttonWrapper" class="flexCenter">
        <a href="{% url 'djrecord:index' %}"><button class="landingBtn">DJ Record</button></a>
        <a href="{% url 'physicalmedia:index' %}"><button class="landingBtn">Physical Media</button></a>
        <a href="{% url 'dadreports:index' %}"><button class="landingBtn">DAD Reports</button></a>
        {% if request.user.is_superuser %}
            <a href="{% url 'djrecord:attendance' %}"><button class="landingBtn">Attendance Tracker</button></a>
        {% endif %}
    </div>
<footer style="width: 100%; background-color: #0b2341; color: #fff; text-align: center; padding: 30px 0; position: fixed; bottom: 0; left: 0;">
    WEGL 91.1 FM
</footer>
</body>
{% endblock %}
{% endblock %}
</html>
