{% load static %}
<div id="masterHeader" class="flexCenter" style="justify-content: space-between; align-items: center; padding: 10px 30px; background-color: #0b2341; color: #fff;">
    <div>
        <a href="{% url 'homepage:index' %}" style="color: #fff; text-decoration: none; font-size: 1.2em;">
            &larr; Back to Home
        </a>
    </div>
    <div style="font-size: 1.5em; font-weight: bold;">
        WEGL 91.1 FM Admin
    </div>
    <div>
        <a>
            Logout
        </a>
    </div>
</div>
<hr style="margin: 0; border: none; border-top: 2px solid #fff;">
